.filterDropdown {
  display: flex;
  flex-direction: column;
  appearance: none;
  width: 100%;
  height: 45px;
  min-width: 15ch;
  max-width: 35ch;
  border: 1px solid;
  border-radius: 8px;
  border-color: gray;
  padding: 0.25em 0.5em;
  margin-top: 20px;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: lightgray;
  font-size: small;
}

.title {
  text-align: center;
}
