.searchbar {
  margin-top: 10px;
}

.searchbar input {
  background: transparent;
  width: 450px;
  border-radius: 10px;
  border: 1px solid;
  border-color: lightgrey;
  padding-left: 35px;
  margin-left: -20px;
  height: 40px;
}

.searchbar i {
  color: rgb(74, 73, 73);
  height: 5px;
}
